<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.flutter_native_plugin_example">

    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ImageViewActivity"
            android:exported="true">
        </activity>
    </application>
</manifest>
